body {
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	background: #fff; /* Background initial color */
	text-align: center;
}

#controls {
	padding: 10px;
	margin-bottom: 20px;
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.5);
	position: fixed;
	width: 100%;
	box-sizing: border-box;
}

#parameters {
	margin-bottom: 10px;
}

#parameters .parameter {
	display: inline-block;
	margin: 0px 5px;
}

#indicators span.indicator {
	display: inline-block;
	padding: 5px 15px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	font-size: 10pt;
	color: #000;
}

input[type='number'] {
	width: 40px;
	text-align: center;
	padding: 5px;
	border: none;
	border-radius: 3px;
}

input[type="button"] {
	padding: 5px 15px;
	margin-left: 20px;
	background: rgba(255, 255, 255, 0.7);
	border: none;
	border-radius: 3px;
}

div#field {
	-webkit-user-select: none;
	-moz-user-select: none;
	position: absolute;
}

div#cells_container {
	margin: auto;
}

.cell {
	display: inline-block;
	cursor: default;
	background: rgba(255, 255, 255, 0.5);
	width: 50px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	position: relative;
	
	transition: 0.6s;
	transform-style: preserve-3d;
}

.cell.no_transition {
	transition: none !important;
}

.cell .front, .cell .back {
	backface-visibility: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 1px rgba(0, 0, 0, 0.1) solid;
	padding-top: 2vmin;
	font-size: 3vmin;
}

.cell .front {
	z-index: 2;
}

.open_cell {
	background: #fff;
	transform: rotateY(180deg);
}

.back {
	transform: rotateY(180deg);
}

.mine_1 { color: #090; }
.mine_2 { color: #060; }
.mine_3 { color: #009; }
.mine_4 { color: #006; }
.mine_5 { color: #660; }
.mine_6 { color: #330; }
.mine_7 { color: #900; }
.mine_8 { color: #600; }

.mine { background-color: #900; color: #ff0; }
.demined { background-color: #696; color: #ff0; }
.wrong_mine { color: #f00; text-decoration: line-through; }

.cell .front.demined,
.cell .front.wrong_mine,
.back.mine {
	padding-top: 1vmin;
	font-size: 7vmin;
}


/* Message box */
#message_box {
	padding: 30px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 20pt;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
	box-sizing: border-box;
}

.short { display: none; }


/* Small screens */

@media screen and (max-width: 480px)
{
	.long { display: none; }
	.short { display: inline; }
	
	#controls {
		margin-bottom: 0px;
	}
	
	input[type="button"] {
		margin-left: 0px;
	}
	
}
